.container {
    width: 480px;
    display: block;
    position: absolute;
    top: 44px;
    right: -80px;
    padding: 12px;
    border-radius: 2px;
    text-align: center;
    background-color: #ffffff;
}