.navbar {
    background-color:#131921;
}

.logo {
    width: 96px;
}

.searchButton {
    background-color: #febd69;
}

.menu {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu:hover .dropdown-content {
    display: block;
}

button {
    padding: 10px;
}

/* Ensure the navbar maintains a flexible layout */
.navbar-scroll {
    display: flex;
    align-items: center;
}

.form-container {
    display: flex;
    flex-grow: 1;
    margin-left: 20px;
    /* Adjust margin as needed */
}

.form-control {
    flex-grow: 1;
    /* Search bar takes available space */
    min-width: 150px;
    /* Prevent it from shrinking too much */
}

.nav-item {
    margin-left: 20px;
    /* Adjustable margin for other nav items */
}