@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Geist", sans-serif;
    background-color: #e3e6e6;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.navBar {
    width: 100%;
    height: 56px;
    background-color: #131921;
    padding: 28px 10px;
}

.navBarB {
    width: 100%;
    height: 40px;
    background-color: #232f3e;
    padding: 0 10px;
}

.list-group {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 0;
}

.list-group.open {
    width: 365px;
}

.list-group .menuCloseBtn {
    left: 0;
}

.list-group.open .menuCloseBtn {
    position: fixed;
    top: 2px;
    left: 370px;
    z-index: 1;
    font-size: 48px;
    transition: 0.3s;
    color: #ffffff;
    background-color: transparent;
    border: none;
}

.asd {
    width: 0;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
    z-index: 1;
    background-color: #ffffff;
}

.asd.open {
    width: 365px;
}

.navBar a,
.navBarB a {
    font-size: 12px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    padding: 8px;
    margin: 0;
}

.menu-info a {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border: none;
    color: #000000;
    padding: 12px 16px 12px 34px;
}

.menu-info a:hover {
    background-color: #c0c0c0;
}

p {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.cartButton {
    font-size: 14px;
    font-weight: 600;
    padding: 12px 8px 8px 8px;
}


.lists p {
    font-weight: 600;
    font-size: 13px;
    margin: 0;
}

.location,
.lists,
.returnOrders {
    line-height: 1.1;
}

.web:hover,
.location:hover,
.language:hover,
.lists:hover,
.returnOrders:hover,
.cartButton:hover {
    border: 1px solid;
    border-radius: 2px;
    border-color: #ffffff;
}

.web {
    padding: 8px 8px 4px 8px;
}

.location {
    padding: 8px 8px 8px 4px;
}

.logo {
    width: 96px;
}

.bi-geo-alt {
    width: 24px;
}

.us-flag {
    width: 16px;
    margin-right: 4px;
}

.bi-caret-down-fill {
    width: 8px;
}

.filterButton .bi-caret-down-fill {
    margin-left: 10px;
}

.bi-search {
    width: 20px;
    height: 20px;
}

.language .bi-caret-down-fill {
    margin-left: 1px;
}

.lists .bi-caret-down-fill {
    margin-left: 4px;
}

.cartAmount {
    line-height: 0;
}

.cart {
    width: 32px;
    margin-right: 4px;
}

.navbar-toggler-icon {
    margin-right: 2px;
}

.background {
    width: 1500px;
}

.boxxx {
    position: absolute;
    top: 350px;
}

.shop-1 {
    width: 310px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.shop-2 {
    width: 310px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.shop-3 {
    width: 310px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.shop-4-1 {
    width: 147px;
}

.shop-4-2 {
    width: 147px;
}

.shop-4-3 {
    width: 147px;
}

.shop-4-4 {
    width: 147px;
}

.searchBar {
    flex-grow: 1;
    margin: 0 15px;
}

.searchInput {
    flex-grow: 1;
    padding: 8px;
    font-size: 14px;
    border: none;
}

.filterButton {
    font-size: 12px;
    background-color: #c0c0c0;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 10px;
}

.searchButton {
    background-color: #febd69;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 0 12px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sign:hover .dropdown-content {
    display: block;
}

.navBarB button {
    border: none;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    color: #ffffff;
}

.navBarB a {
    border: none;
    font-size: 14px;
    padding: auto;
    color: #ffffff;
}

.navBarB button:hover,
.navBarB a:hover {
    border: 1px solid;
    border-radius: 2px;
    border-color: #ffffff;
}

.list-group button {
    background-color: #ffffff;
}

.list-group button:hover {
    background-color: #c0c0c0;

    .arrow-icon {
        color: #000000;
    }
}

.menu-info button {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    border: none;
    padding: 12px 16px 12px 34px;
}

.seeAllButton {
    width: 100%;
    font-size: 12px;
    border: none;
    padding: 4px 16px 4px 34px;
}

.menu-signIn {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    background-color: #232f3e;
    padding: 12px 0 12px 34px;
}

.menu-info {
    height: 100%;
    overflow: scroll;
    padding-bottom: 32px;
}

.menu-info-group {
    border-bottom: 1px solid;
    border-color: #c0c0c0;
    padding-bottom: 4px;
}

.menu-title {
    font-size: 17px;
    font-weight: 700;
    padding: 20px 0 8px 34px;
    margin: 0;
}

.paper h5 {
    font-weight: 700;
}