.navbar {
    background-color: #131921;
}

Nav {
    font-size: 12px;
}

a {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: white;
    padding: 8px;
    margin: 0;
}

.location:hover,
.language:hover,
.lists:hover,
.returnOrders:hover,
.cart:hover {
    border: 1px solid;
    border-radius: 2px;
    border-color: #ffffff;
}

.logo {
    width: 96px;
}

.searchInput {
    width: 600px;
}

.filterButton {
    background-color: #c0c0c0;
}

.searchButton {
    background-color: #febd69;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu:hover .dropdown-content {
    display: block;
}